<div class="restaurant-detail">
  <a class="back">&laquo; back</a>

  <h1 class="name"><%= data.location.name %></h1>

  <h2 class="type"><%= data.location.type %></h2>

  <% if (data.location.photo_url) { %>
  <img src="<%= data.location.photo_url %>" class="photo">
  <% } %>

  <h3 class="address"><%= data.location.address %></h3>


  <% if (data.location.phone) { %>
  <a class="phone" href="tel:<%= data.location.phone %>"><%= data.location.phone %></a>
  <% } %>

  <% if (data.location.phone && data.location.website) { %> | <% } %>

  <% if (data.location.website) { %>
  <a class="website" target="_parent" href="<%= data.location.website %>">Website</a>
  <% } %>

  <p><%= data.location.description %></p>
  <div class="author"> &mdash; <%= data.location.author %> </div>

  <a href="<%= data.location.story_url %>" target="_parent" class="review-link">Read full review</a>
</div>