<h2>Filter by category
  <% if (data.selected.length) { %>
  <a class="reset">(reset)</a>
  <% } %>
</h2>
<ul class="categories">
<% data.categories.forEach(function(cat) { %>
  <li>
    <input
      type="checkbox"
      data-cat="<%= cat %>"
      id="<%= cat %>"
      <% if (data.selected.indexOf(cat) > -1) { %>
      checked="checked"
      <% } %>
    >
    <label for="<%= cat %>"><%= cat %></label>
<% }); %>
</ul>

<div class="location-container">
  <h2>
    <% if (data.selected.length) { %>
    Results
    <% } else { %>
    Most recent reviews
    <% } %>
  </h2>
  <ul class="locations">
    <% data.results.slice(data.listOffset, data.listOffset + data.listLength).forEach(function(l) { %>
    <li data-marker="<%= l.id %>">
      <% if (l.picks) { %>
      <span class="star">&bigstar;</span>
      <% } %>
      <%= l.name %>
    <% }); %>
  </ul>
  <nav class="pagination">
    <a class="paginate previous">&laquo;</a>
    <%= data.listOffset + 1 %> -
    <%= data.listOffset + data.listLength > data.results.length ? data.results.length : data.listOffset  + data.listLength %>
    of <%= data.results.length %>
    <a class="paginate next">&raquo;</a>
  </nav>
</div>
<p class="key">&bigstar; - Featured review