@import "seattletimes";

.interactive {
  max-width: 960px;

}

h1 {
  font-size: 20px;
  margin-top: 0;
}

.footnote {
  font-size: 15px;
  margin-bottom: 0;
}

.row {
  .display-flex();
  .align-items(stretch);

  @media @mobile {
    display: block;
  }

  .map-wrapper {
    .flex(0 0 66%);
  }

  .detail-panel {
    .flex(0 0 33%);
  }
}

.map-wrapper {
  position: relative;

  &::before {
    display: block;
    content: "";
    padding-bottom: 100%;

    @media @mobile {
      padding-bottom: 60%;
    }
  }

  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .locate-me {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid @df-light-gray;
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 0 0 6px fade(black, 30%);
    text-transform: uppercase;
    cursor: pointer;

    img {
      vertical-align: middle;
      height: 16px;
    }
  }
}

.restaurant {
  @star-size: 13px;
  background: @df-goldenrod;
  border-radius: 100%;
  border: 1px solid white;
  box-shadow: 0 0 4px fade(black, 10%);
  font-size: @star-size;
  line-height: @star-size;
  text-align: center;
  color: white;

  &.featured {
    background: darken(@df-goldenrod, 20%);
  }
}

.detail-panel {
  padding: 0 16px;
  .display-flex();
  .flex-direction(column);

  @media @mobile {
    display: block;
  }

  h1 {
    font-size: 24px;
    margin: 0;
  }

  h2 {
    font-size: 16px;
    margin: 0;
  }

  a {
    cursor: pointer;

    &.reset {
      font-size: 14px;
    }
  }

  .chatter, .key {
    font-size: 16px;
    color: @df-dark-gray;
  }

  .categories {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;

    li {
      display: inline-block;
      padding: 2px 4px;
    }
  }

  input[type=checkbox] {
    display: none;

    & + label {
      cursor: pointer;
      color: @df-middle-gray;
      border-bottom: 1px solid @df-light-gray;
    }

    &:checked + label {
      color: black;
      border-bottom: 1px solid black;
      &::before {
        content: "✓";
        padding-right: 4px;
      }
    }
  }

  .location-container {
    margin-top: 16px;
    .flex(1 1 0%);
    .display-flex();
    .flex-direction(column);
    .justify-content(space-between);

    @media @mobile {
      display: block;
    }
  }

  .locations {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 15px;
    .flex(1 0 0%);

    li {
      cursor: pointer;
      display: block;
      border-bottom: 1px dotted @df-light-gray;
      padding: 2px 0px;
      color: black;
      margin-bottom: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    .star {
      color: @df-goldenrod;
    }
  }

  .pagination {
    .display-flex();
    .justify-content(space-between);
  }
}

.restaurant-popup {
  h1 {
    font-size: 16px;
    font-weight: normal;
  }
}

.restaurant-detail {
  font-size: 14px;
  font-family: @df-sans;

  h1.name {
    font-size: 18px;
    margin: 0;
  }

  .type {
    font-size: 14px;
    color: @df-middle-gray;
    font-weight: normal;
    margin: 0;
  }

  .address {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }

  .author {
    display: block;
    text-align: right;
  }

  .review-link {
      font-weight: bold;
    }

}